.wrapper {
  width: 100vw;
  text-align: center;
}
.tap-header {
  cursor: pointer;
  display: inline-block;
  margin: 0px;
  background-color: blue;
  padding: 4px 8px;
  /* border-radius: 10px; */
  transition: all 0.5s;
}
.active {
  background-color: rgb(45, 163, 202);
}
.tab-content {
  margin-top: 5px;
}
