h1 {
  text-align: center;
}
.data-container {
  text-align: center;
}
.container {
  height: 100vh;
  width: 100vw;
}
.top-container {
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  text-align: center;
  background-color: rgb(232, 167, 167);
}
.scroll-progress-tracking-container {
  width: 100%;
  background-color: brown;
  height: 10px;
}
.current-progress-bar {
  height: 10px;
  background-color: red;
}
.data-container {
  margin-top: 150px;
}
