.container {
  position: relative;
  width: 600px;
  margin: auto;
}

.images {
  display: block;
  width: 100%;
  height: auto;
}

.btn-back,
.btn-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  padding: 10px 15px;
  font-size: 24px;
  cursor: pointer;
  z-index: 1;
  user-select: none;
}

.btn-back {
  left: 10px;
}

.btn-next {
  right: 10px;
}

.btn-back:hover,
.btn-next:hover {
  background: rgba(0, 0, 0, 0.7);
}
.dots {
  text-align: center;
  margin-top: 10px;
}

/* الدائرة الواحدة */
.dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 5px;
  border-radius: 50%;
  border: none;
  background: gray;
  cursor: pointer;
}

/* الدائرة النشطة */
.dot.active {
  background: white;
}
